.login-container {
    width: 350px !important;
    top: 100px;
    position: relative;
    box-shadow: 13px 15px 15px #8e8888
}

.email-block {
    flex-direction: column
}

.email {
    width: 270px;

}

.password {
    width: 270px;
    position: relative;
}